streamlit
streamlit-option-menu
plotly
pandas
numpy
wordcloud
matplotlib
fpdf2
altair
soundfile
scipy
pydub
st-audiorec
streamlit-extras
networkx
pyvis
transformers
torch
sentence-transformers
datasets
spacy
bertopic
umap-learn
hdbscan
evaluate
rouge_score
openai-whisper
sentencepiece
accelerate
scikit-learn
